{% extends base_template if base_template is defined else 'crud/base_crud.html' %}

{% block crud_content %}
    {% if title %}
        <h1>{{title}}</h1>
    {% endif %}

    <div class="row">
        <div class="col-md-12">

        {% include "crud/crud_controls.html" %}

        {% if not count %}
            <p id="crud-listing-no-items" class="lead">
                No items
            </p>
        {% else %}

            <div id="crud-listing-count" class="text-muted pull-right">
                Total {{count}} items
            </div>
        {% endif %}
        </div>
    </div>

    {% if count %}
        <div class="table-responsive">
            <table class="table listing listing-{{crud.id}}">
                <thead>
                    {% for column in columns %}
                        {%  include column.header_template %}
                    {% endfor %}
                </thead>

                <tbody>
                    {% for obj in query %}
                        <tr class="crud-row crud-row-{{ obj.id }}">
                            {% with instance=crud.wrap_to_resource(obj) %}
                                {% for column in columns  %}
                                    {% include column.body_template %}
                                {% endfor %}
                            {% endwith %}
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    {% endif %}
{% endblock crud_content %}