<div class="pagination-wrapper">

    {% if not batch.required %}
      <div class="total-message total-message-only text-center">
          {{ batch.seqlen }} entries total
      </div>
    {% endif %}

    {% if batch.required %}
      <div class="text-center">
        <div class="label label-primary">
          Page # ${batch.num+1}
             (${'%d-%d of %d' % (batch.startitem+1, batch.enditem+1, batch.seqlen)})
        </div>
      </div>
    {% endif %}

    {% if batch.required %}
        <ul  class="pager pager-compact">
        <li class="{% if batch.first_url %}disabled{% endif %}">
          <a href="{{ batch.first_url }}">
            <i class="fa fa-fast-backward"> </i>
                ${first_batch_label|request.localizer.translate('First')}</a>
        </li>

        <li class="${(not batch.prev_url and 'disabled') or ''}">
          <a href="${batch.prev_url}">
            <i class="glyphicon glyphicon-backward"> </i>
                ${prev_batch_label|request.localizer.translate('Previous')}</a>
        </li>

            <li class="${(not batch.next_url and 'disabled') or ''}">
          <a href="${batch.next_url}">
            <i class="glyphicon glyphicon-forward"> </i>
                ${next_batch_label|request.localizer.translate('Next')}</a>
        </li>
        <li class="${(not batch.last_url and 'disabled') or ''}">
          <a href="${batch.last_url}">
            <i class="glyphicon glyphicon-fast-forward"> </i>
                ${last_batch_label|request.localizer.translate('Last')}</a>
        </li>
      </ul>
    {% endif %}

</div>

