{% extends "admin/base_panel.html" %}

{% block panel_title %}
{{ title }} <span class="text-muted">({{count}})</span>
{% endblock panel_title %}

{% block panel_content %}
{% endblock panel_content %}

{% block panel_buttons %}
    <a id="btn-panel-list-{{ model_admin.id }}" class="btn btn-default btn-admin-list" href="{{ model_admin|model_url('listing') }}">
        List
    </a>

    <a id="btn-panel-add-{{ model_admin.id }}" class="btn btn-default btn-admin-list" href="{{ model_admin|model_url('add') }}">
        Add
    </a>
{% endblock %}
