<div id="admin-panel-{{model_admin.id}}" class="panel panel-default panel-admin">
    {% block panel_title %}
        <div class="panel-heading">
            <h3 class="panel-title pull-left">
                {{panel.title}}
            </h3>

            <div class="panel-buttons pull-right">
                {% block panel_buttons %}
                {% endblock panel_buttons %}
            </div>

            <div style="clear: both"></div>
        </div>
    {% endblock panel_title %}

  <div class="panel-body">
        {% block panel_content %}
        {% endblock panel_content %}
  </div>

</div>

