[run]
branch = True
source = codecov

[report]
exclude_lines =
    pragma: no cover
    def __repr__
    if .debug:
    raise NotImplementedError
    assert
    if __name__ == .__main__.:


ignore_errors = True
omit =
    setup.py
    websauna/compat/*
    websauna/system/http/*
    websauna/tests/*
    websauna/utils/orderedset.py

