# Database driver and support
psycopg2==2.6
jsonpointer==1.7
iso8601==0.1.10

# Sessions
pyramid-redis-sessions==1.0.1

# Forms
deform==2.0a2

# Templates
Jinja2==2.7.3
pyramid_jinja2==2.4

# Email out
pyramid-mailer==0.14
premailer==2.8.3

# Social
Authomatic==0.0.12
python3-openid==3.0.5

# Developer tools
rainbow_logging_handler==2.2.2
