<div id="crud-page-controls">

     <div id="crud-page-navigate-back" class="pull-left">
         <a class="btn btn-default" href="{{crud.listing|model_url}}">
            <i class="fa fa-caret-left"></i> Back to {{crud.friendly_name}} listing
        </a>
     </div>

    <div id="crud-page-buttons" class="pull-right">
        {% if buttons.show %}
            <a class="btn btn-default">
                Show
            </a>
        {% endif %}

        {% if buttons.edit %}
            <a class="btn btn-default">
                Edit
            </a>
        {% endif %}

        {% if buttons.delete %}
            <a class="btn btn-default">
                Delete
            </a>
        {% endif %}
    </div>

    <div style="clear: both"></div>
</div>