<div id="crud-page-controls">

    <div id="crud-page-buttons" class="pull-right">
        {% if resource_buttons.show %}
            <a class="btn btn-default" href="{{ resource_buttons.show }}">
                Show
            </a>
        {% endif %}

        {% if resource_buttons.edit %}
            <a class="btn btn-default" href="{{ resource_buttons.edit }}">
                Edit
            </a>
        {% endif %}

        {% if resource_buttons.delete %}
            <a class="btn btn-default">
                Delete
            </a>
        {% endif %}
    </div>

    <div style="clear: both"></div>
</div>