# Never commit our secrets files
*secrets.ini

# Default .gitignore with common Pythonic web ignores
venv
build/
dist/
*.pyc
__pycache__
*.egg
*.egg-info

# Logs
*.log

# Database dumbs
*.sql
*.sqlite

# If somebody does npm local installs
node_modules

# Created by running a celery
celerybeat*

# pytest-splinter creates screenshots from failed browsers tests.
# let's not pollute source tree with them by accient.
websauna.{{ package }}.tests.*

# Static asset cache busting
cache-manifest.json
perma-asset

# pytest and tox cache
.cache
.tox
.eggs

