{% extends "admin/base.html" %}

{% block admin_content %}
<div id="admin-main">
  {# Comment we changed the intro text a bit #}
  <p>Welcome to <strong>Newco Example Company</strong> solar power dashboard, <strong>{{ request.user.friendly_name }}</strong>!</p>
</div>

<div class="row">
  <div class="col-md-12">

    {# Add a custom fixed header on the top of panels #}
    <div class="panel panel-default panel-admin">
      <div class="panel-body">
        <div id="curve_chart" style="width: 800px; height: 400px"></div>

        <p><small>* Incoming data delayed two weeks</small></p>

      </div>
    </div>

    {% for panel in panels %}
        {{panel|safe}}
    {% endfor %}
  </div>
</div>
{% endblock admin_content %}


{% block body_end_script %}
  {{ super () }}
  <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
  <script type="text/javascript">
    $(document).ready(function() {

      google.charts.load('current', {'packages':['corechart']});
      google.charts.setOnLoadCallback(drawChart);

      function drawChart() {
        var data = google.visualization.arrayToDataTable([
          ['Week', 'Solar output (kWh)', 'Load (consumption) (kWh)'],
          ['2016-02-01',  2000,  1200],
          ['2016-02-07',  2300,  1400],
          ['2016-02-14',  2400,  1400],
          ['2016-02-21',  2200,  1550]
        ]);

        var options = {
          title: 'Current power generation (as generated 2016-02-21*)',
          curveType: 'function',
          legend: { position: 'bottom' },
          chartArea: {left:0, top:40, width:'100%',height:'75%'}
        };

        var chart = new google.visualization.LineChart(document.getElementById('curve_chart'));

        chart.draw(data, options);
      }

    });
  </script>
{% endblock %}