{% extends "admin/base.html" %}

{% block admin_content %}
<div id="admin-main">
  {# Comment we changed the intro text a bit #}
  <p>Welcome to Wattcoin dashboard, {{ request.user.friendly_name }}</p>
</div>

<div class="row">
  <div class="col-md-12">

    {# Add a custom fixed header on the top of panels #}
    <div class="panel panel-default panel-admin">
      <div class="panel-body">
        <h2>Current power generation (as generated {{ (now() - timedelta(days=14))|arrow_format("YYYY-MM-DD")}}*)</h2>

        <div id="curve_chart" style="width: 900px; height: 500px"></div>

        <p>* Incoming data delayed two weeks</p>

      </div>
    </div>

    {% for panel in panels %}
        {{panel|safe}}
    {% endfor %}
  </div>
</div>
{% endblock admin_content %}


{% block extra_body_end %}
  {{ super () }}
  <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
  <script type="text/javascript">
    $(document).ready(function() {

      google.charts.load('current', {'packages':['corechart']});
      google.charts.setOnLoadCallback(drawChart);

      function drawChart() {
        var data = google.visualization.arrayToDataTable([
          ['Year', 'Sales', 'Expenses'],
          ['2004',  1000,      400],
          ['2005',  1170,      460],
          ['2006',  660,       1120],
          ['2007',  1030,      540]
        ]);

        var options = {
          title: 'Company Performance',
          curveType: 'function',
          legend: { position: 'bottom' }
        };

        var chart = new google.visualization.LineChart(document.getElementById('curve_chart'));

        chart.draw(data, options);
      }

    });
  </script>
{% endblock %}