{% extends "site/base.html" %}

{% block content %}

    <!-- Header -->
    <header>
        <div class="container">
            <div class="jumbotron text-center">
                <h1>pyramid_web20</h1>
                <p class="lead text-center">
                    <span class="lead-inner">Your site goes in here</span>
                </p>
            </div>
        </div>
    </header>

    <section id="sign-up">
        <div class="row">
            <div class="col-lg-12">
                <h2 class="text-center">
                    <span>Welcome to <em>pyramid_web20</em> proto site!</span>
                </h2>
            </div>

            <p class="lead lead-highlight text-center">
                Sign up and test it
            </p>

            <p class="text-center">
                <a class="btn btn-primary btn-mega pulse" href=""><i class="fa fa-arrow-right"></i> Sign up free</a>
            </p>
        </div>
    </section>

    <section id="features">
        <div class="container marketing">
             <div class="row">
                <div class="col-lg-12 text-center">
                    <p class="lead lead-highlight"><em>pyramid_web20</em> with all features you need</p>
                </div>
            </div>

            <div class="row text-center">

                <div class="col-md-4 col-sm-6">

                    <!-- Left -->
                    <div class="entry">
                        <span class="fa-stack fa-4x">
                            <i class="fa fa-circle fa-stack-2x text-primary"></i>
                            <i class="fa fa-heart fa-stack-1x fa-inverse"></i>
                        </span>
                        <h4>You chose Python</h4>
                        <p>Cutting edge programming language</p>
                    </div>

                    <div class="entry">
                        <span class="fa-stack fa-4x">
                            <i class="fa fa-circle fa-stack-2x text-primary"></i>
                            <i class="fa fa-facebook fa-stack-1x fa-inverse"></i>
                        </span>
                        <h4>Easy sign ups</h4>
                        <p>Your uses can sign up using Facebook, Github or other social media accounts.</p>
                    </div>
                </div>

                <!-- Middle -->
                <div class="col-md-4 col-sm-6">

                    <div class="entry">
                        <span class="fa-stack fa-4x">
                            <i class="fa fa-circle fa-stack-2x text-primary"></i>
                            <i class="fa fa-database fa-stack-1x fa-inverse"></i>
                        </span>
                        <h4>Runs on PostgreSQL</h4>
                        <p>Most advanced open source database available today</p>
                    </div>

                    <div class="entry">
                        <span class="fa-stack fa-4x">
                            <i class="fa fa-circle fa-stack-2x text-primary"></i>
                            <i class="fa fa-lock fa-stack-1x fa-inverse"></i>
                        </span>
                        <h4>Secure</h4>
                        <p>Ships with very secure defaults.</p>
                    </div>
                </div>

                <!-- Right -->
                <div class="col-md-4">

                    <div class="entry">
                        <span class="fa-stack fa-4x">
                            <i class="fa fa-circle fa-stack-2x text-primary"></i>
                            <i class="fa fa-globe fa-stack-1x fa-inverse"></i>
                        </span>
                        <h4>Internationalization</h4>
                        <p>Spean many languages through GNU gettext</p>
                    </div>

                    <div class="entry">
                        <span class="fa-stack fa-4x">
                            <i class="fa fa-circle fa-stack-2x text-primary"></i>
                            <i class="fa fa-eye fa-stack-1x fa-inverse"></i>
                        </span>
                        <h4>It's beautiful</h4>
                        <p>Easy theming with industry standard Bootstrap layout and FontAwesome icons</p>
                    </div>
                </div>
            </div>
        </div>
    </section>



{% endblock %}